<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div>
    <form role="form form-horizontal" class="form-horizontal">
        <p data-i18n="[html]ovs:wizards.addlicense.confirm.basicinfo"></p>
        <ul data-bind="foreach: data.licenseEntries()">
            <li>
                <span data-i18n="ovs:generic.component"></span>: <span data-bind="translate: ($data.component + ':licensing.component')"></span><br />
                <span data-i18n="ovs:generic.name"></span>: <span data-bind="text: $data.name"></span><br />
                <span data-i18n="ovs:generic.metadata"></span>:
                <ul data-bind="foreach: $root.generic.keys($data.metadata)">
                    <!-- ko if: $data !== 'token' -->
                        <li>
                            <span data-bind="translate: ($parent.component + ':licensing.metadata.' + $data)"></span>: <span data-bind="html: $parent.metadata[$data] !== null ? $parent.metadata[$data] : '<i>Unlimited</i>'"></span>
                        </li>
                    <!-- /ko -->
                </ul>
            </li>
        </ul>
    </form>
</div>
