﻿<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section>
    <p data-bind="visible: shared.mode() !== 'full'">&nbsp;</p>
    <div class="row">
        <div class="col-md-4">
            <!-- Left column -->
            <div id="dashboard.panels.storagerouter" class="panel panel-default">
                <!-- StorageRouter -->
                <div class="panel-heading">
                    <b data-i18n="ovs:dashboard.panels.storagerouter.title"></b>
                    <div style="float:right;">
                        <span data-bind="visible: storageRoutersLoading()"><i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i></span>
                        <a data-bind="popover: {
                                          title: 'ovs:dashboard.panels.storagerouter.helptitle',
                                          content: 'ovs:dashboard.panels.storagerouter.helpcontent'
                                      }" class="hand fa noline" data-i18n="[html]ovs:icons.help"
                           style="margin-left: 5px; color: white;" role="button" tabindex="-1">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div data-bind="lazylist: {
                                        displaymode: 'table', items: storageRouters,
                                        loadedObservable: 'loaded', colspan: 4
                                    }" >
                        <table data-dummy="dummy">
                            <thead data-part="head">
                                <tr>
                                    <th></th>
                                    <th data-i18n="ovs:generic.name"></th>
                                    <th data-i18n="ovs:generic.ip"></th>
                                    <th data-i18n="ovs:generic.vdisks"></th>
                                </tr>
                            </thead>
                            <tbody data-dummy="dummy">
                                <tr data-part="table-entry">
                                        <td>
                                            <span class="fa pointer" data-i18n="[html]ovs:icons.storagerouter"
                                                  data-bind="tooltip: 'ovs:generic.states.storagerouter.' + status(),
                                                             style: { color: statusColor() }"></span>
                                        </td>
                                        <td>
                                            <a data-bind="text: name, attr: { href: $root.shared.routing.loadHash('storagerouter-detail', { guid: guid }) }"></a>
                                        </td>
                                        <td data-bind="text: ipAddress"></td>
                                        <td data-bind="text: vDisks().length"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                 </div>
            </div>
            <!-- ko foreach: shared.hooks.dashboards -->
                <div class="panel panel-default" data-bind="compose: $data.activator"></div>
            <!-- /ko -->
        </div>
        <div class="col-md-4">
            <!-- Center column -->
            <div class="panel panel-default">
                <!-- Cache -->
                <div class="panel-heading">
                    <b data-i18n="ovs:dashboard.panels.cache.title"></b>
                    <div style="float:right;">
                        <span data-bind="visible: vPoolsLoading()"><i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i></span>
                        <a data-bind="popover: {
                                          title: 'ovs:dashboard.panels.cache.helptitle',
                                          content: 'ovs:dashboard.panels.cache.helpcontent'
                                      }" class="hand fa noline" data-i18n="[html]ovs:icons.help"
                           style="margin-left: 5px; color: white;" role="button" tabindex="-1">
                        </a>
                    </div>
                </div>
                <div class="panel-body" data-bind="gauge: { primary: cacheRatio, secondary: iops }"></div>
            </div>
            <div class="panel panel-default">
                <!-- vMachines -->
                <div class="panel-heading">
                    <b data-i18n="ovs:dashboard.panels.vmachines.title"></b>
                    <a data-bind="text: amountOfVMachines(),
                                  attr: { href: $root.shared.routing.loadHash('vmachines', {}) }"
                       class="label label-default" style="margin-left: 5px;"></a>
                    <div style="float:right;">
                        <span data-bind="visible: vMachinesLoading()"><i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i></span>
                        <select data-bind="options: topVmachineModes, value: topVmachineMode,
                                           optionsText: function(item) { return $.t('ovs:generic.' + item); }"
                                style="margin-left: 5px; margin-top: -3px; border-width: 1px;"></select>
                        <a data-bind="popover: {
                                          title: 'ovs:dashboard.panels.vmachines.helptitle',
                                          content: 'ovs:dashboard.panels.vmachines.helpcontent'
                                      }" class="hand fa noline" data-i18n="[html]ovs:icons.help"
                           style="margin-left: 5px; color: white;" role="button" tabindex="-1">
                        </a>
                    </div>
                </div>
                <div class="panel-body" data-bind="foreach: topVMachines">
                    <div class="row">
                        <div class="col-md-8"><a data-bind="attr: { href: $root.shared.routing.loadHash('vmachine-detail', { guid: guid }) },
                                                            text: name"></a></div>
                        <div class="col-md-4">
                            <span data-bind="visible: $parent.topVmachineMode() === 'topstoreddata', text: storedData"></span>
                            <span data-bind="visible: $parent.topVmachineMode() === 'topbandwidth', text: bandwidth"></span>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Right column -->
            <div class="panel panel-default">
                <!-- Statistics -->
                <div class="panel-heading">
                    <b data-i18n="ovs:dashboard.panels.statistics.title"></b>
                    <div style="float:right;">
                        <span data-bind="visible: vPoolsLoading()"><i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i></span>
                        <a data-bind="popover: {
                                          title: 'ovs:dashboard.panels.statistics.helptitle',
                                          content: 'ovs:dashboard.panels.statistics.helpcontent'
                                      }" class="hand fa noline" data-i18n="[html]ovs:icons.help"
                           style="margin-left: 5px; color: white;" role="button" tabindex="-1">
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th data-i18n="ovs:generic.performance"></th>
                                <th data-i18n="ovs:generic.current"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-i18n="ovs:generic.iops"></td>
                                <td data-bind="text: iops"></td>
                            </tr>
                            <tr>
                                <td data-i18n="ovs:generic.readspeed"></td>
                                <td data-bind="text: readSpeed"></td>
                            </tr>
                            <tr>
                                <td data-i18n="ovs:generic.writespeed"></td>
                                <td data-bind="text: writeSpeed"></td>
                            </tr>
                            <tr>
                                <td data-i18n="ovs:generic.cacheratio"></td>
                                <td data-bind="text: cacheRatio"></td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
            <div class="panel panel-default">
                <!-- vPools -->
                <div class="panel-heading">
                    <b data-i18n="ovs:dashboard.panels.vpools.title"></b>
                    <a data-bind="text: vPools().length,
                                  attr: { href: $root.shared.routing.loadHash('vpools', {}) }"
                       class="label label-default" style="margin-left: 5px;"></a>
                    <div style="float:right;">
                        <span data-bind="visible: vPoolsLoading()"><i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i></span>
                        <select data-bind="options: topVpoolModes, value: topVPoolMode,
                                           optionsText: function(item) { return $.t('ovs:generic.' + item); }"
                                style="margin-left: 5px; margin-top: -3px; border-width: 1px;"></select>
                        <a data-bind="popover: {
                                          title: 'ovs:dashboard.panels.vpools.helptitle',
                                          content: 'ovs:dashboard.panels.vpools.helpcontent'
                                      }" class="hand fa noline" data-i18n="[html]ovs:icons.help"
                           style="margin-left: 5px; color: white;" role="button" tabindex="-1">
                        </a>
                    </div>
                </div>
                <div class="panel-body" data-bind="foreach: topVPools">
                    <div class="row">
                        <div class="col-md-8"><a data-bind="attr: { href: $root.shared.routing.loadHash('vpool-detail', { guid: guid }) },
                                                            text: name"></a></div>
                        <div class="col-md-4">
                            <span data-bind="visible: $parent.topVPoolMode() === 'topstoreddata', text: storedData"></span>
                            <span data-bind="visible: $parent.topVPoolMode() === 'topbandwidth', text: bandwidth"></span>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>
