<!--
Copyright 2015 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section>
    <div>
        <h2 data-i18n="ovs:register.title"></h2>
    </div>
    <div data-bind="visible: !shared.registration().registered">
        <form role="form form-horizontal" class="form-horizontal">
            <p style="padding-top: 10px; padding-bottom: 10px;">
                <span data-bind="visible: shared.registration().remaining > 0">
                    <span data-i18n="ovs:register.basicinfo1"></span>
                    <span data-bind="text: Math.round(shared.registration().remaining)"></span>
                    <span data-i18n="ovs:register.basicinfo2"></span>
                </span>
                <span data-bind="visible: shared.registration().remaining <= 0">
                    <span data-i18n="ovs:register.basicinfo3"></span>
                    <span data-bind="text: (0 - Math.round(shared.registration().remaining))"></span>
                    <span data-i18n="ovs:register.basicinfo4"></span>
                </span>
            </p>
            <div class="form-group" data-bind="css: { 'has-error': $.inArray('name', canRegister().fields) !== -1 }">
                <label class="col-lg-1 control-label" for="name" data-i18n="ovs:register.name"></label>
                <div class="col-lg-4">
                    <input type="text" id="name" class="autofocus form-control" data-bind="value: name, valueUpdate: 'afterkeydown'">
                </div>
                <div class="col-lg-6">
                    <span class="help-block" data-i18n="ovs:register.namehelp"></span>
                </div>
            </div>
            <div class="form-group" data-bind="css: { 'has-error': $.inArray('company', canRegister().fields) !== -1 }">
                <label class="col-lg-1 control-label" for="company" data-i18n="ovs:register.company"></label>
                <div class="col-lg-4">
                    <input type="text" id="company" class="autofocus form-control" data-bind="value: company, valueUpdate: 'afterkeydown'">
                </div>
                <div class="col-lg-6">
                    <span class="help-block" data-i18n="ovs:register.companyhelp"></span>
                </div>
            </div>
            <div class="form-group" data-bind="css: { 'has-error': $.inArray('email', canRegister().fields) !== -1 }">
                <label class="col-lg-1 control-label" for="email" data-i18n="ovs:register.email"></label>
                <div class="col-lg-4">
                    <input type="text" id="email" class="autofocus form-control" data-bind="value: email, valueUpdate: 'afterkeydown'">
                </div>
                <div class="col-lg-6">
                    <span class="help-block" data-i18n="ovs:register.emailhelp"></span>
                </div>
            </div>
            <div class="form-group" data-bind="css: { 'has-error': $.inArray('phone', canRegister().fields) !== -1 }">
                <label class="col-lg-1 control-label" for="email" data-i18n="ovs:register.phone"></label>
                <div class="col-lg-4">
                    <input type="text" id="phone" class="autofocus form-control" data-bind="value: phone, valueUpdate: 'afterkeydown'">
                </div>
                <div class="col-lg-6">
                    <span class="help-block" data-i18n="ovs:register.phonehelp"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label" for="newsletter" data-i18n="ovs:register.newsletter"></label>
                <div class="col-lg-8">
                    <input type="checkbox" id="newsletter" style="margin-top: 15px;" data-bind="checked: newsletter">
                    <label for="newsletter" class="help-block" data-i18n="[html]ovs:register.newsletterhelp"
                           style="padding-left: 10px; display: inline-block; font-weight: normal;"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label" for="agreement" data-i18n="ovs:register.agreement"></label>
                <div class="col-lg-8">
                    <input type="checkbox" id="agreement" style="margin-top: 15px;" data-bind="checked: agreement">
                    <label for="agreement" class="help-block" data-i18n="[html]ovs:register.agreementhelp" style="padding-left: 10px; display: inline-block;"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1"></label>
                <div class="col-lg-4">
                    <button type="button" class="pull-left btn btn-default"
                            data-bind="click: register, enable: (canRegister().value && !registering())" data-i18n="[html]ovs:register.register"></button>
                    <div class="pull-left" style="margin: 7px 0 0 5px;" data-bind="visible: registering">
                        <span class="fa fa-1p5x fa-spin" data-i18n="[html]ovs:icons.loading"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-bind="visible: shared.registration().registered">
        <p style="padding-top: 10px;" data-i18n="ovs:register.registered"></p>
    </div>
</section>
