<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section data-bind="with: storageRouter()">
	<ol class="breadcrumb">
	    <li class="active" data-bind="text: name"></li>
	</ol>
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#information" data-toggle="tab" >
                    <span class="fa" data-i18n="[html]ovs:icons.information"
                          data-bind="tooltip: 'ovs:generic.states.storagerouter.' + status(),
                                     style: { color: statusColor() }"></span>
                    <span style="padding-left: 5px;" data-bind="text: name, visible: name() !== undefined"></span>
                </a>
            </li>
            <li class="actions">
                <span data-i18n="ovs:generic.actions"></span>:
                <button type="button" class="btn btn-mini btn-default hand" style="color: #428bca;" id="buttonEdit"
                        data-bind="click: function() { if (edit()) { save() } else { edit(true); } },
                                   enable: loaded() && $root.shared.user.roles().contains('manage'),
                                   tooltip: 'ovs:storagerouters.detail.edit'">
                    <span class="hand fa" data-bind="visible: edit() && !saving()" data-i18n="[html]ovs:icons.save"></span>
                    <span class="hand fa fa-spin" data-bind="visible: edit() && saving()" data-i18n="[html]ovs:icons.loading"></span>
                    <span class="hand fa" data-bind="visible: !edit()" data-i18n="[html]ovs:icons.edit"></span>
                </button>
                <button type="button" class="btn btn-mini btn-default hand" style="color: #428bca;" id="buttonRefresh"
                        data-bind="click: $root.refresh,
                                   enable: $root.shared.user.roles().contains('manage'),
                                   tooltip: 'ovs:storagerouters.detail.refreshtt'">
                    <span class="hand fa" data-bind="visible: !$root.refreshing()" data-i18n="[html]ovs:icons.load"></span>
                    <span class="hand fa fa-spin" data-bind="visible: $root.refreshing()" data-i18n="[html]ovs:icons.loading"></span>
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="information" style="padding: 15px;">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th data-i18n="ovs:storagerouters.details" colspan="2"></th>
                            <th data-i18n="ovs:storagerouters.statistics" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 20%;" data-i18n="ovs:generic.ip"></td>
                            <td style="width: 30%;"><span data-bind="text: ipAddress"></span></td>
                            <td style="width: 20%;" data-i18n="ovs:generic.nrofvpools"></td>
                            <td style="width: 30%;"><span data-bind="text: vPools().length"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.host"></td>
                            <td>
                                <span data-bind="lazyloader: { item: pMachine, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry" data-bind="text: item().name()"></span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.nrofvmachines"></td>
                            <td><span data-bind="text: vMachines().length"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:storagerouters.detail.hostip"></td>
                            <td>
                                <span data-bind="lazyloader: { item: pMachine, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry" data-bind="text: item().ipAddress()"></span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.nrofvdisks"></td>
                            <td><span data-bind="text: vDisks().length"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.type"></td>
                            <td>
                                <span data-bind="lazyloader: { item: pMachine, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry" class="pointer"
                                          data-bind="text: $.t('ovs:generic.hypervisors.' + item().hvtype())"></span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.storeddata"></td>
                            <td><span data-bind="text: storedData"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:storagerouters.detail.rdma_capable"></td>
                            <td>
                                <!-- ko if: rdmaCapable() === false -->
                                    <span class="fa" data-i18n="[html]ovs:icons.cancel_circle" style="color: red;"></span>
                                <!-- /ko -->
                                <!-- ko if: rdmaCapable() === true -->
                                    <span class="fa" data-i18n="[html]ovs:icons.check_circle" style="color: green;"></span>
                                <!-- /ko -->
                            </td>
                            <td data-i18n="ovs:generic.cache"></td>
                            <td><span data-bind="text: cacheRatio"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.failure_domain"></td>
                            <td>
                                <span data-bind="visible: !edit()">
                                    <span data-bind="lazyloader: { item: primaryFailureDomain, loadedObservable: 'loaded', undefinedLoading: true }">
                                        <span data-part="lazy-entry" data-bind="text: item().name()"></span>
                                    </span>
                                </span>
                                <span data-bind="visible: edit()">
                                    <span data-bind="dropdown: {
                                                         enabled: $root.canChangePFD,
                                                         items: $root.failureDomains, target: primaryFailureDomain,
                                                         text: function(item) {
                                                             return item.name();
                                                         },
                                                         key: 'guid', keyisfunction: true, small: true
                                                     }">
                                    </span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.iops"></td>
                            <td><span data-bind="text: iops"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.backup_failure_domain"></td>
                            <td>
                                <span data-bind="visible: !edit()">
                                    <span data-bind="text: secondaryFailureDomain() !== undefined ? secondaryFailureDomain().name() : '-'"></span>
                                </span>
                                <span data-bind="visible: edit()">
                                    <span data-bind="dropdown: {
                                                         items: $root.availableSecondaryFailureDomains, target: secondaryFailureDomain,
                                                         text: function(item) {
                                                             if (item === undefined) { return '-'; }
                                                             return item.name();
                                                         },
                                                         key: 'guid', keyisfunction: true, small: true
                                                     }">
                                    </span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.readspeed"></td>
                            <td><span data-bind="text: readSpeed"></span></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td data-i18n="ovs:generic.writespeed"></td>
                            <td><span data-bind="text: writeSpeed"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active" data-bind="tooltip: 'ovs:generic.management', visible: $root.shared.user.roles().contains('manage')">
                <a href="#management" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.management"></a>
            </li>
            <li data-bind="tooltip: 'ovs:generic.disks', visible: $root.shared.user.roles().contains('manage')">
                <a href="#disks" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.disks"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="management" style="padding: 15px;" data-bind="visible: $root.shared.user.roles().contains('manage')">
                <table class="table table-noborder" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 90px; vertical-align: middle; padding: 0 0 20px 0;">
                                <button type="button" class="btn btn-lg" data-bind="enable: false">
                                    <span class="fa fa-1p5x" data-i18n="[html]ovs:icons.storageroutervpoollink"></span>
                                </button>
                            </td>
                            <td style="padding: 0 0 20px 0;">
                                <h4 data-i18n="ovs:storagerouters.detail.storageroutervpoollink"></h4>
                                <table class="table table-noborder table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="width: 30px;">
                                                <span class="fa fa-spin" data-bind="visible: !$root.vPoolsLoaded()" data-i18n="[html]ovs:icons.loading"></span>
                                            </th>
                                            <th><span data-i18n="ovs:generic.vpool"></span></th>
                                            <th style="width: 125px;"><span data-i18n="ovs:generic.mgmtport"></span></th>
                                            <th style="width: 125px;"><span data-i18n="ovs:generic.xmlrpcport"></span></th>
                                            <th style="width: 125px;"><span data-i18n="ovs:generic.dtl_port"></span></th>
                                            <th style="width: 125px;"><span data-i18n="ovs:generic.storageip"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: $root.vPools() -->
                                            <tr>
                                                <td>
                                                    <input type="checkbox" data-bind="attr: { id: 'vpool_' + guid() },
                                                                                      checked: $root.checkedVPoolGuids().contains(guid()),
                                                                                      disable: true">
                                                </td>
                                                <td><span data-bind="text: name()"></span></td>
                                                <!-- ko foreach: $parents[0].storageDrivers() -->
                                                    <!-- ko if: $parent.storageDriverGuids().contains(guid()) -->
                                                        <td><span data-bind="text: ports()[0]"></span></td>
                                                        <td><span data-bind="text: ports()[1]"></span></td>
                                                        <td><span data-bind="text: ports()[2]"></span></td>
                                                        <td><span data-bind="text: storageIP()"></span></td>
                                                    <!--/ko-->
                                                <!--/ko-->
                                            </tr>
                                        <!-- /ko -->
                                        <!-- ko if: $root.vPools().length === 0 -->
                                            <tr>
                                                <td colspan="6">
                                                    <i data-i18n="ovs:generic.noentries"></i>
                                                </td>
                                            </tr>
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                                <button class="btn btn-default" data-bind="visible: false, click: $root.updateStorageRouterServing"
                                        style="margin-top: 10px;">
                                    <span data-i18n="ovs:storagerouters.detail.updateserving"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="disks" style="padding: 15px;" data-bind="visible: $root.shared.user.roles().contains('manage')">
                <table class="table table-noborder" style="width: 100%;">
                    <tbody>
                        <tr style="padding-bottom: 10px;">
                            <td style="width: 110px;">&nbsp;</td>
                            <td>
                                <h4 class="pull-left" data-i18n="ovs:storagerouters.detail.disks.title"></h4>
                                <button class="btn btn-default pull-right hand" id="buttonRescanDisks"
                                        data-bind="click: $root.rescanDisks, enable: $.inArray('manage', $root.shared.user.roles()) !== -1">
                                    <span class="fa hand" data-i18n="[html]ovs:icons.load"></span>&nbsp;
                                    <span data-i18n="ovs:generic.rescan" class="hand"></span>
                                </button>
                            </td>
                        </tr>
                        <!-- ko foreach: disks -->
                            <tr>
                                <td style="vertical-align: middle;">
                                    /dev/<span data-bind="text: name"></span><br />
                                    <span data-bind="text: size"></span>
                                </td>
                                <td style="vertical-align: middle;">
                                    <div class="progress" style="width: 1000px; margin-bottom: inherit;">
                                        <!-- ko foreach: fullPartitions() -->
                                            <div class="progress-bar" role="progressbar" style="position: relative;"
                                                 data-bind="style: {
                                                                width: ((relativeSize * 10) - ($index() > 0 ? 2 : 0)) + 'px',
                                                                marginLeft: $index() > 0 ? '2px' : 'inherit'
                                                            },
                                                            css: {
                                                                'progress-bar-success': state() === 'OK',
                                                                'progress-bar-danger': ['FAILURE', 'MISSING'].contains(state()),
                                                                'progress-bar-info': state() === 'RAW'
                                                            }">
                                                <div>
                                                    <span data-bind="visible: !small" style="position: absolute; top: 0; left: 7px;">
                                                        <span data-i18n="ovs:generic.size"></span>: <span data-bind="text: size()"></span>
                                                        <span data-bind="if: !$root.isEmpty(filesystem()) || !$root.isEmpty(mountpoint())">
                                                            <span class="fa" data-i18n="[html]ovs:icons.separator"></span>
                                                            <span data-bind="if: $root.isEmpty(mountpoint())">
                                                                <span data-i18n="ovs:generic.fs"></span>:
                                                            </span>
                                                            <span data-bind="text: filesystem()"></span>
                                                            <span data-bind="if: !$root.isEmpty(filesystem()) && !$root.isEmpty(mountpoint())">@</span>
                                                            <span data-bind="if: $root.isEmpty(filesystem())">
                                                                <span data-i18n="ovs:generic.mountpoint"></span>:
                                                            </span>
                                                            <span data-bind="text: mountpoint()"></span>
                                                        </span>
                                                        <span data-bind="if: roles().length > 0">
                                                            <span class="fa" data-i18n="[html]ovs:icons.separator"></span>
                                                            <span data-i18n="ovs:generic.roles"></span>: <span data-bind="foreach: roles()">
                                                                <span data-bind="translate: 'ovs:generic.partitionroles.' + $data.toLowerCase()"></span><span data-bind="if: $index() < ($parent.roles().length - 1)">,</span>
                                                            </span>
                                                        </span>
                                                        <span data-bind="if: state() !== 'OK' && state() !== undefined">
                                                            <span class="fa" data-i18n="[html]ovs:icons.separator"></span>
                                                            <span data-bind="translate: 'ovs:generic.states.disk.' + state().toLowerCase()"></span>
                                                        </span>
                                                    </span>
                                                    <span style="position: absolute; top: 0; right: 7px;"
                                                          data-bind="visible: !small
                                                                              && $root.shared.user.roles().contains('manage')
                                                                              && filesystem() !== 'swap'
                                                                              && !roles().contains('BACKEND')">
                                                        <span data-bind="position: absolute; top: 0; left: 0">
                                                            <span class="fa hand" data-bind="click: function(partition) { $root.configureRoles(partition, $parent); }"
                                                                  data-i18n="[html]ovs:icons.configuration"></span>
                                                        </span>
                                                    </span>
                                                    <span data-bind="visible: small">
                                                        <span data-bind="tooltip: size()">&hellip;</span>
                                                    </span>
                                                </div>
                                            </div>
                                        <!-- /ko -->
                                    </div>
                                </td>
                            </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
