<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section>
    <div>
        <h2 class="pull-left" data-i18n="ovs:users.users.title"></h2>
    </div>
    <div data-bind="pager: { loadData: loadUsers, headers: userHeaders, refreshInterval: 5000, controls: true, container: users }" style="clear: both;">
        <table data-dummy="dummy">
            <tr data-part="vitem" class="hand" data-bind="css: { info: $root.selectedUserGuid() === guid() },
                                                          click: function() { $root.selectedUserGuid(guid()); }">
                <td style="position: relative;">
                    <span data-bind="visible: loading()" style="position: absolute; top: 7px; left: -15px;">
                       <i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i>
                    </span>
                    <span data-bind="text: username"></span>
                </td>
                <td data-bind="style: { 'paddingBottom': edit() ? '5px' : '8px', 'paddingTop': edit() ? '5px' : '8px' }" class="edit-container">
                    <span data-bind="visible: !edit()">
                        <span data-bind="text: group() !== undefined ? group().description() : '-'"></span>
                        <i class="hand fa fa-fw edit-button" data-i18n="[html]ovs:icons.edit" style="padding-left: 10px; display: none;"
                           data-bind="click: function() {
                                          if (!$root.groupsInitialLoad() && guid() !== $root.shared.user.guid()) {
                                              backupValue(groupGuid());
                                              edit(true);
                                          }
                                      },
                                      style: { color: !$root.groupsInitialLoad() && guid() !== $root.shared.user.guid() ? 'black' : 'lightgrey' }"></i>
                    </span>
                    <span data-bind="visible: edit()">
                        <span data-bind="dropdown: {
                                             items: $root.groups, target: group,
                                             text: function(item) {
                                                 if (item !== undefined) {
                                                     return item.description();
                                                 }
                                                 return '';
                                             }, key: 'guid', keyisfunction: true, small: true
                                         }"></span>
                        <i class="hand fa fa-fw" data-i18n="[html]ovs:icons.save" style="padding-left: 10px;"
                           data-bind="click: function() { save(); edit(false); }"></i>
                        <i class="hand fa fa-fw" data-i18n="[html]ovs:icons.cancel" style="padding-left: 10px;"
                           data-bind="click: function() { groupGuid(backupValue()); edit(false); }"></i>
                    </span>
                </td>
                <td>
                    <i data-bind="click: function() { $root.changePassword($data.guid()); }"
                       class="hand fa fa-fw" data-i18n="[html]ovs:icons.password"></i>
                    <i data-bind="click: function() {
                                      if (guid() !== $root.shared.user.guid()) {
                                          $root.deleteUser($data.guid());
                                      }
                                  },
                                  style: { color: guid() !== $root.shared.user.guid() ? 'black' : 'lightgrey' }"
                       class="hand fa fa-fw" data-i18n="[html]ovs:icons.delete"></i>
                </td>
            </tr>
            <tr data-part="vnew" data-bind="visible: $.inArray('manage', $root.shared.user.roles()) !== -1, with: $root.newUser()">
                <td><input type="text" data-bind="value: username, valueUpdate: 'input'" style="width: 200px;"/></td>
                <td>
                    <span data-bind="dropdown: {
                                         items: $root.groups, target: group,
                                         text: function(item) {
                                             if (item !== undefined) {
                                                 return item.description();
                                             }
                                             return '';
                                         }, key: 'guid', keyisfunction: true, small: true
                                     }"></span>
                </td>
                <td>
                    <i data-bind="click: function() {
                                      if (username() !== undefined && username() !== '') {
                                          $root.saveUser();
                                      }
                                  },
                                  style: { color: username() !== undefined && username() !== '' ? 'black' : 'lightgrey' }"
                       class="hand fa fa-fw" data-i18n="[html]ovs:icons.save"></i>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h2 class="pull-left" data-i18n="ovs:users.clients.title"></h2>
    </div>
    <div style="clear: both;">
        <p style="margin-bottom: 25px;">
            <span data-i18n="[html]ovs:users.clients.information"></span>
        </p>
    </div>
    <div data-bind="pager: { loadData: loadClients, headers: clientHeaders, refreshInterval: 5000, controls: true, trigger: _selectedUserGuid, container: clients }" style="clear: both;">
        <table data-dummy="dummy">
            <tr data-part="vitem">
                <td style="position: relative;">
                    <span data-bind="visible: loading()" style="position: absolute; top: 7px; left: -15px;">
                       <i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i>
                    </span>
                    <span data-bind="text: name"></span>
                </td>
                <td><span data-bind="text: guid"></span></td>
                <td style="position: relative;">
                    <input type="text" data-bind="value: clientSecret()" readonly="readonly" style="width: 230px; height: 20px;" />
                    <div class="input-gradient" style="top: 9px; left: 217px; width: 20px; height: 18px; position: absolute;"></div>
                </td>
                <td data-bind="lazylist: { items: roles, loadedObservable: 'loaded' }">
                    <span data-part="entry" data-bind="text: name"></span>
                </td>
                <td>
                    <i data-bind="click: function() {
                                      if ($.inArray('write', $root.shared.user.roles()) !== -1) {
                                          $root.deleteClient($data.guid());
                                      }
                                  },
                                  style: { color: $.inArray('write', $root.shared.user.roles()) !== -1 ? 'black' : 'lightgrey' }"
                       class="hand fa fa-fw" data-i18n="[html]ovs:icons.delete"></i>
                </td>
            </tr>
            <tr data-part="vnew" data-bind="visible: $root.selectedUserGuid() !== undefined && $.inArray('write', $root.shared.user.roles()) !== -1, with: $root.newClient()">
                <td><input type="text" data-bind="value: name, valueUpdate: 'input'" style="width: 200px;"/></td>
                <td><i data-i18n="ovs:generic.generated"></i></td>
                <td><i data-i18n="ovs:generic.generated"></i></td>
                <td>
                    <span data-bind="dropdown: {
                                         key: 'guid', keyisfunction: true, small: true,
                                         items: $root.availableRoles, target: roles,
                                         text: function(item) {
                                             return item.name();
                                         }
                                     }">
                    </span>
                </td>
                <td>
                    <i data-bind="click: function() {
                                      if (name() !== undefined && name() !== '') {
                                          $root.saveClient();
                                      }
                                  },
                                  style: { color: name() !== undefined && name() !== '' ? 'black' : 'lightgrey' }"
                       class="hand fa fa-fw" data-i18n="[html]ovs:icons.save"></i>
                </td>
            </tr>
        </table>
    </div>
</section>
