<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section data-bind="with: vDisk()">
    <ol class="breadcrumb">
        <li data-bind="lazyloader: { item: vpool, loadedObservable: 'loaded', undefinedLoading: false }">
            <a data-part="lazy-entry"
               data-bind="text: item().name,
                          attr: { href: $root.shared.routing.loadHash('vpool-detail', { guid: item().guid }) }"></a>
        </li>
        <li data-bind="lazyloader: { item: vMachine, loadedObservable: 'loaded', undefinedLoading: false }">
            <a data-part="lazy-entry"
               data-bind="text: item().name,
                          attr: { href: $root.shared.routing.loadHash('vmachine-detail', { guid: item().guid }) }"></a>
        </li>
        <li class="active" data-bind="text: name"></li>
    </ol>
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#information" data-toggle="tab" >
                    <span class="fa" data-i18n="[html]ovs:icons.information"></span>
                    <span style="padding-left: 5px;" data-bind="text: name, visible: name() !== undefined"></span>
                </a>
            </li>
            <li class="actions">
                <span data-i18n="ovs:generic.actions"></span>:
                <button type="button" class="btn btn-mini btn-default hand"
                        id="buttonVDiskRollback"
                        data-bind="click: function() { $root.rollback(); },
                                   style: { color: vMachine() !== undefined && vMachine().isRunning() ? 'lightgrey' : '#428bca' },
                                   tooltip: vMachine() !== undefined && vMachine().isRunning() ? 'ovs:generic.messages.notrunningrequired' : 'ovs:vdisks.detail.rollback',
                                   enable: $root.shared.user.roles().contains('write')">
                    <span class="fa hand" data-i18n="[html]ovs:icons.rollback"></span>
                </button>
                <button type="button" class="btn btn-mini btn-default hand"
                        id="buttonVDiskClone" style="color: #428bca;"
                        data-bind="click: function() { $root.clone(); },
                                   tooltip: 'ovs:vdisks.detail.clone',
                                   enable: $root.shared.user.roles().contains('write')">
                    <span class="fa hand" data-i18n="[html]ovs:icons.clone"></span>
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="information" style="padding: 15px;">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th data-i18n="ovs:vdisks.details" colspan="2"></th>
                            <th data-i18n="ovs:vdisks.performance" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 15%;" data-i18n="ovs:generic.vmachine"></td>
                            <td style="width: 35%;">
                                <span data-bind="lazyloader: { item: vMachine, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <a data-part="lazy-entry" data-bind="text: item().name(),
                                                                         attr: { href: $root.shared.routing.loadHash('vmachine-detail', { guid: item().guid }) }"></a>
                                </span>
                            </td>
                            <td style="width: 15%;"  data-i18n="ovs:generic.cache"></td>
                            <td style="width: 35%;"><span data-bind="text: cacheRatio"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.vpool"></td>
                            <td>
                                <span data-bind="lazyloader: { item: vpool, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <a data-part="lazy-entry" data-bind="text: item().name(),
                                                                         attr: { href: $root.shared.routing.loadHash('vpool-detail', { guid: item().guid }) }"></a>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.iops"></td>
                            <td><span data-bind="text: iops"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.storagerouter"></td>
                            <td>
                                <span data-bind="lazyloader: { item: storageRouter, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <a data-part="lazy-entry" data-bind="text: item().name(),
                                                                         attr: { href: $root.shared.routing.loadHash('storagerouter-detail', { guid: item().guid }) }"></a>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.readspeed"></td>
                            <td><span data-bind="text: readSpeed"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.size"></td>
                            <td><span data-bind="text: size"></span></td>
                            <td data-i18n="ovs:generic.writespeed"></td>
                            <td><span data-bind="text: writeSpeed"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.storeddata"></td>
                            <td><span data-bind="text: storedData"></span></td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.nrofsnapshots"></td>
                            <td><span data-bind="text: snapshots().length"></span></td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.dtl_status"></td>
                            <td>
                                <div data-bind="status: {
                                                     colors: {
                                                         green: ['ok_standalone', 'ok_sync'].contains(dtlStatus()),
                                                         orange: dtlStatus() == 'catch_up',
                                                         red: dtlStatus() == 'degraded'
                                                     },
                                                     defaultColor: 'lightgrey'
                                                 }, tooltip: 'ovs:generic.states.dtl.' + dtlStatus()"
                                     style="width: 14px; height: 14px;"></div>
                            </td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.namespace"></td>
                            <td><span data-bind="text: namespace"></span></td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active" data-bind="tooltip: 'ovs:generic.snapshots'">
                <a href="#snapshots" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.snapshot"></a>
            </li>
            <li data-bind="tooltip: 'ovs:generic.management', visible: $root.shared.user.roles().contains('manage'), click: $root.loadAllConfigurations">
                <a href="#management" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.management"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="snapshots" style="padding: 15px;">
                <h4 data-i18n="ovs:vdisks.detail.snapshots"></h4>
                <div data-bind="pager: { items: snapshots, loadData: $parent.refreshSnapshots, headers: $parent.snapshotHeaders, refreshInterval: 5000, controls: true }">
                    <table data-dummy="dummy">
                        <tr data-part="vitem">
                            <td><span data-bind="html: (label !== '' && label !== undefined) ? label : '<i>automatic snapshot</i>'"></span></td>
                            <td><span data-bind="text: (new Date(timestamp * 1000)).toLocaleDateString() + ' ' + (new Date(timestamp * 1000)).toLocaleTimeString()"></span></td>
                            <td><span data-bind="text: $parents[2].formatBytes(stored)"></span></td>
                            <td><span data-bind="text: (is_automatic ? 'Automatic' : 'Manual')"></span></td>
                            <td><span class="fa pointer" data-bind="translate: (is_consistent ? 'ovs:icons.consistent' : 'ovs:icons.inconsistent'),
                                                                    tooltip: (is_consistent ? 'ovs:generic.consistentss' : 'ovs:generic.inconsistentss')"></span></td>
                            <td><span data-bind="translate: (is_sticky ? 'ovs:generic.sticky' : '-')"></span></td>
                            <td>
                                <button type="button"
                                        class="btn btn-mini btn-default"
                                        data-bind="click: function(){
                                                        $root.removeSnapshot(guid);
                                        }, visible: true, tooltip: 'ovs:generic.removesnapshot' ">
                                    <span class="fa" data-i18n="[html]ovs:icons.delete"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <span data-i18n="[html]ovs:icons.consistent" class="fa"></span> &nbsp;<span data-i18n="ovs:generic.consistentss"></span><br />
                    <span data-i18n="[html]ovs:icons.inconsistent" class="fa"></span> &nbsp;<span data-i18n="ovs:generic.inconsistentss"></span>
                </div>
            </div>
            <div class="tab-pane" id="management" style="padding: 15px;" data-bind="visible: $root.shared.user.roles().contains('manage')">
                <table class="table table-noborder" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 90px; padding: 10px 0 20px 0;">
                                <button type="button" class="btn btn-lg" data-bind="enable: false">
                                    <span class="fa fa-1p5x" data-i18n="[html]ovs:icons.configuration"></span>
                                </button>
                            </td>
                            <td style="padding: 0 0 20px 0;">
                                <h4 data-i18n="ovs:vdisks.detail.configuration"></h4>
                                <p data-i18n="ovs:vdisks.detail.configurationinfo"></p>
                                <ul>
                                    <li>
                                        <span data-i18n="ovs:storagedrivers.configuration.general.dtl"></span>
                                        <a data-bind="popover: {
                                                          title: 'ovs:storagedrivers.configuration.general.dtl_help_title',
                                                          content: 'ovs:storagedrivers.configuration.general.dtl_help_message'
                                                      }"
                                           class="hand fa noline"
                                           data-i18n="[html]ovs:icons.help"
                                           style="margin-left: 5px; color: #377ca8;"
                                           role="button"
                                           tabindex="-1">
                                        </a>
                                        <div>
                                            <table class="table table-condensed" style="margin-left: 20px; margin-bottom: 0; width: 100%;">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 20%; padding: 0;">
                                                            <div style="margin-top: 5px;">
                                                                <label class="control-label"
                                                                       style="padding: inherit; font-weight: inherit; margin-bottom: inherit;"
                                                                       data-i18n="ovs:storagedrivers.configuration.general.dtl_mode">
                                                                </label>:
                                                            </div>
                                                        </td>
                                                        <td style="width: 16%; padding: 0;">
                                                            <span data-bind="dropdown: {
                                                                                 items: dtlModes,
                                                                                 target: dtlModeChange,
                                                                                 text: function(item) {
                                                                                     return $.t('ovs:storagedrivers.configuration.general.dtl_modes.' + item.name);
                                                                                 },
                                                                                 small: true
                                                                             }">
                                                            </span>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <!-- ko if: configuration() !== undefined  && parentConfiguration() !== undefined && configuration().dtl_mode === parentConfiguration().dtl_mode -->
                                                                <span data-i18n="ovs:generic.default"></span>
                                                            <!-- /ko -->
                                                        </td>
                                                    </tr>
                                                    <tr data-bind="visible: dtlMode() !== 'no_sync'">
                                                        <td style="width: 20%; padding: 0;">
                                                            <div style="margin-top: 5px;">
                                                                <label class="control-label"
                                                                       style="padding: inherit; font-weight: inherit; margin-bottom: inherit;"
                                                                       data-i18n="ovs:storagedrivers.configuration.general.dtl_target">
                                                                </label>:
                                                            </div>
                                                        </td>
                                                        <td style="width: 16%; padding: 0;">
                                                            <span data-bind="dropdown: {
                                                                                 items: dtlTargets,
                                                                                 target: dtlTarget,
                                                                                 text: function(item) {
                                                                                     return item;
                                                                                 },
                                                                                 small: true,
                                                                                 emptyisloading: true
                                                                             }">
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li style="margin-top: 10px;">
                                        <span data-i18n="ovs:storagedrivers.configuration.general.caching"></span>
                                        <div>
                                            <table class="table table-condensed" style="margin-left: 20px; margin-bottom: 0; width: 100%;">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 20%; padding: 0;">
                                                            <div style="margin-top: 5px;">
                                                                <span data-i18n="ovs:storagedrivers.configuration.general.strategy"></span>:
                                                            </div>
                                                        </td>
                                                        <td style="width: 16%; padding: 0;">
                                                            <span data-bind="dropdown: {
                                                                                 items: cacheStrategies,
                                                                                 target: cacheStrategy,
                                                                                 text: function(item) {
                                                                                     return $.t('ovs:storagedrivers.configuration.general.cache_strategies.' + item);
                                                                                 },
                                                                                 small: true
                                                                             }">
                                                            </span>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <!-- ko if: configuration() !== undefined  && parentConfiguration() !== undefined && configuration().cache_strategy === parentConfiguration().cache_strategy -->
                                                                <span data-i18n="ovs:generic.default"></span>
                                                            <!-- /ko -->
                                                        </td>
                                                    </tr>
                                                    <tr >
                                                        <td style="padding: 0;">
                                                            <div style="margin-top: 5px;">
                                                                <span data-i18n="ovs:storagedrivers.configuration.general.dedupe"></span>:
                                                                <a data-bind="popover: {
                                                                                  title: 'ovs:storagedrivers.configuration.general.dedupe_help_title',
                                                                                  content: 'ovs:storagedrivers.configuration.general.dedupe_help_message'
                                                                              }"
                                                                   class="hand fa noline"
                                                                   data-i18n="[html]ovs:icons.help"
                                                                   style="margin-left: 5px; color: #377ca8;"
                                                                   role="button"
                                                                   tabindex="-1">
                                                                </a>
                                                                <span class="help-block"
                                                                      data-i18n="ovs:storagedrivers.configuration.general.dedupe_warning"
                                                                      style="font-size: smaller; margin-top: -4px">
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <span data-bind="dropdown: {
                                                                                 items: dedupeModes,
                                                                                 target: dedupeMode,
                                                                                 text: function(item) {
                                                                                     return $.t('ovs:storagedrivers.configuration.general.dedupe_modes.' + item.name);
                                                                                 },
                                                                                 small: true
                                                                             }">
                                                            </span>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <!-- ko if: configuration() !== undefined  && parentConfiguration() !== undefined && configuration().dedupe_mode === parentConfiguration().dedupe_mode -->
                                                                <span data-i18n="ovs:generic.default"></span>
                                                            <!-- /ko -->
                                                        </td>
                                                    </tr>
                                                    <tr data-bind="visible: dedupeMode() !== undefined && dedupeMode().name === 'non_dedupe'">
                                                        <td style="padding: 0;">
                                                            <div>
                                                                <span data-i18n="ovs:storagedrivers.configuration.general.readcache_limit"></span>:
                                                            </div>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <input data-bind="value: readCacheLimit, valueUpdate: 'afterkeydown'"
                                                                   size="5"
                                                                   style="height: 25px; text-align: center;"/>
                                                            <span data-i18n="ovs:generic.units.gib"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li>
                                        <span data-i18n="ovs:storagedrivers.configuration.vdisk.volume"></span>
                                        <div>
                                            <table class="table table-condensed" style="margin-left: 20px; margin-bottom: 0; width: 100%;">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 20%; padding: 0;">
                                                            <div style="margin-top: 5px;">
                                                                <span data-i18n="ovs:storagedrivers.configuration.general.sco_size"></span>:
                                                            </div>
                                                        </td>
                                                        <td style="width: 16%; padding: 0;">
                                                            <span data-bind="dropdown: {
                                                                                 items: scoSizes,
                                                                                 target: scoSize,
                                                                                 text: function(item) {
                                                                                     return item + ' ' + $.t('ovs:generic.units.mib');
                                                                                 },
                                                                                 small: true
                                                                             }">
                                                            </span>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <!-- ko if: configuration() !== undefined  && parentConfiguration() !== undefined && configuration().sco_size === parentConfiguration().sco_size -->
                                                                <span data-i18n="ovs:generic.default"></span>
                                                            <!-- /ko -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding: 0;">
                                                            <div style="margin-top: 5px;">
                                                                <span data-i18n="ovs:storagedrivers.configuration.general.write_buffer"></span>:
                                                            </div>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <input data-bind="value: writeBuffer"
                                                                   size="5"
                                                                   style="height: 25px; text-align: center;"/>
                                                            <span data-i18n="ovs:generic.units.mib"></span>
                                                        </td>
                                                        <td style="padding: 0;">
                                                            <!-- ko if: configuration() !== undefined  && parentConfiguration() !== undefined && configuration().write_buffer === parentConfiguration().write_buffer -->
                                                                <span data-i18n="ovs:generic.default"></span>
                                                            <!-- /ko -->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                </ul>
                                <button data-bind="click: function() { $root.saveConfiguration() }, enable: configChanged()" class="btn btn-default" data-i18n="ovs:generic.save"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
