<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section data-bind="with: vMachine()">
    <ol class="breadcrumb">
        <li data-bind="lazylist: { items: vPools, loadedObservable: 'loaded' }">
            <a data-part="entry"
               data-bind="text: name,
                          attr: { href: $root.shared.routing.loadHash('vpool-detail', { guid: guid }) }"></a>
        </li>
        <li class="active" data-bind="lazyloader: { item: name, loadedObservable: 'loaded' }"></li>
    </ol>
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#information" data-toggle="tab" >
                    <span class="fa" data-i18n="[html]ovs:icons.information"></span>
                    <span style="padding-left: 5px;" data-bind="text: name, visible: name() !== undefined"></span>
                </a>
            </li>
            <li class="actions">
                <span data-i18n="ovs:generic.actions"></span>:
                <button type="button" class="btn btn-mini btn-default"
                        style="color: #428bca;"
                        id="buttonVmachineSnapshot"
                        data-bind="click: function() { $root.snapshot(); },
                                   enable: loaded(),
                                   tooltip: 'ovs:vmachines.detail.snapshot',
                                   enable: $root.shared.user.roles().contains('write')">
                    <span class="fa" data-i18n="[html]ovs:icons.snapshot"></span>
                </button>
                <button type="button" class="btn btn-mini btn-default"
                        id="buttonVmachineSetAsTemplate"
                        data-bind="click: function() { $root.setAsTemplate(); },
                                   style: { color: isRunning() ? 'lightgrey' : '#428bca' },
                                   enable: $root.shared.user.roles().contains('write'),
                                   tooltip: isRunning() ? 'ovs:generic.messages.notrunningrequired' : 'ovs:vmachines.detail.setastemplate'">
                    <span class="fa" data-i18n="[html]ovs:icons.setastemplate"></span>
                </button>
                <button type="button" class="btn btn-mini btn-default"
                        id="buttonVmachineRollback"
                        data-bind="click: function() { $root.rollback(); },
                                   style: { color: isRunning() ? 'lightgrey' : '#428bca' },
                                   tooltip: isRunning() ? 'ovs:generic.messages.notrunningrequired' : 'ovs:vmachines.detail.rollback',
                                   enable: $root.shared.user.roles().contains('write')">
                    <span class="fa" data-i18n="[html]ovs:icons.rollback"></span>
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="information" style="padding: 15px;">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th data-i18n="ovs:vmachines.details" colspan="2"></th>
                            <th data-i18n="ovs:vmachines.performance" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-i18n="ovs:generic.host"></td>
                            <td>
                                <span data-bind="lazyloader: { item: pMachine, loadedObservable: 'loaded' }">
                                    <span data-part="lazy-entry" data-bind="text: item().name()"></span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.cache"></td>
                            <td><span data-bind="lazyloader: { item: cacheRatio, loadedObservable: 'loaded' }"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:storagerouters.detail.hostip"></td>
                            <td>
                                <span data-bind="lazyloader: { item: pMachine, loadedObservable: 'loaded' }">
                                    <span data-part="lazy-entry" data-bind="text: item().ipAddress()"></span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.iops"></td>
                            <td><span data-bind="lazyloader: { item: iops, loadedObservable: 'loaded' }"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.type"></td>
                            <td>
                                <span data-bind="lazyloader: { item: pMachine, loadedObservable: 'loaded' }">
                                    <span data-part="lazy-entry" class="pointer"
                                          data-bind="text: $.t('ovs:generic.hypervisors.' + item().hvtype())"></span>
                                </span>
                            </td>
                            <td data-i18n="ovs:generic.readspeed"></td>
                            <td><span data-bind="lazyloader: { item: readSpeed, loadedObservable: 'loaded' }"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.storagerouters"></td>
                            <td data-bind="lazylist: { items: storageRouters, loadedObservable: 'loaded' }">
                                <a data-part="entry"
                                   data-bind="text: name,
                                              attr: { href: $root.shared.routing.loadHash('storagerouter-detail', { guid: guid }) }"></a>
                            </td>
                            <td data-i18n="ovs:generic.writespeed"></td>
                            <td><span data-bind="lazyloader: { item: writeSpeed, loadedObservable: 'loaded' }"></span></td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.vpools"></td>
                            <td data-bind="lazylist: { items: vPools, loadedObservable: 'loaded' }">
                                <a data-part="entry"
                                   data-bind="text: name,
                                              attr: { href: $root.shared.routing.loadHash('vpool-detail', { guid: guid }) }"></a>
                            </td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.nrofvdisks"></td>
                            <td><span data-bind="text: vDisks().length"></span></td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.dtl_status"></td>
                            <td>
                                <div data-bind="status: {
                                                    colors: {
                                                        green: ['ok_standalone', 'ok_sync'].contains(dtlStatus()),
                                                        orange: dtlStatus() == 'catch_up',
                                                        red: dtlStatus() == 'degraded'
                                                    },
                                                    defaultColor: 'lightgrey'
                                                }, tooltip: 'ovs:generic.states.dtl.' + dtlStatus()"
                                     style="width: 14px; height: 14px;"></div>
                            </td>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active" data-bind="tooltip: 'ovs:generic.vdisks'">
                <a href="#vdisks" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.vdisks"></a>
            </li>
            <li data-bind="tooltip: 'ovs:generic.snapshots'">
                <a href="#snapshots" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.snapshot"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="vdisks" style="padding: 15px;">
                <h4 data-i18n="ovs:vdisks.title"></h4>
                <div data-bind="pager: { loadData: $parent.loadVDisks, headers: $parent.vDiskHeaders, refreshInterval: 5000, controls: true }">
                    <table data-dummy="dummy">
                        <tr data-part="vitem" data-bind="attr: { id: 'vdisk_' + guid() }">
                            <td style="position: relative;">
                                <span data-bind="visible: loading()" style="position: absolute; top: 7px; left: -15px;">
                                   <i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i>
                                </span>
                                <a data-bind="html: loaded() ? (name() ? name() : '<i>name not set</i>') : '',
                                              attr: { href: $root.shared.routing.loadHash('vdisk-detail', { guid: guid }) }"></a>
                            </td>
                            <td><span data-bind="text: size"></span></td>
                            <td><span data-bind="text: storedData"></span></td>
                            <td><span data-bind="text: cacheRatio"></span></td>
                            <td><span data-bind="text: iops"></span></td>
                            <td><span data-bind="text: readSpeed"></span></td>
                            <td><span data-bind="text: writeSpeed"></span></td>
                            <td>
                                <div data-bind="status: {
                                                    colors: {
                                                        green: ['ok_standalone', 'ok_sync'].contains(dtlStatus()),
                                                        orange: dtlStatus() == 'catch_up',
                                                        red: dtlStatus() == 'degraded'
                                                    },
                                                    defaultColor: 'lightgrey'
                                                }, tooltip: 'ovs:generic.states.dtl.' + dtlStatus()"
                                     style="width: 14px; height: 14px;"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="snapshots" style="padding: 15px;">
                <h4 data-i18n="ovs:vmachines.detail.snapshots"></h4>
                <div data-bind="pager: { items: snapshots, loadData: $parent.refreshSnapshots, headers: $parent.snapshotHeaders, refreshInterval: 5000, controls: true }">
                    <table data-dummy="dummy">
                        <tr data-part="vitem">
                            <td><span data-bind="html: (label !== '' && label !== undefined) ? label : '<i>automatic snapshot</i>'"></span></td>
                            <td><span data-bind="text: (new Date(timestamp * 1000)).toLocaleDateString() + ' ' + (new Date(timestamp * 1000)).toLocaleTimeString()"></span></td>
                            <td><span data-bind="text: $parents[2].formatBytes(stored)"></span></td>
                            <td><span data-bind="text: (is_automatic ? 'Automatic' : 'Manual')"></span></td>
                            <td><span class="fa pointer" data-bind="translate: (is_consistent ? 'ovs:icons.consistent' : 'ovs:icons.inconsistent'),
                                                                    tooltip: (is_consistent ? 'ovs:generic.consistentss' : 'ovs:generic.inconsistentss')"></span></td>
                            <td><span data-bind="translate: (is_sticky ? 'ovs:generic.sticky' : '-')"></span></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <span data-i18n="[html]ovs:icons.consistent" class="fa"></span> &nbsp;<span data-i18n="ovs:generic.consistentss"></span><br />
                    <span data-i18n="[html]ovs:icons.inconsistent" class="fa"></span> &nbsp;<span data-i18n="ovs:generic.inconsistentss"></span>
                </div>
            </div>
        </div>
    </div>
</section>
