<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section data-bind="with: vPool()">
    <ol class="breadcrumb">
        <li class="active" data-bind="text: name"></li>
    </ol>
    <div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#information" data-toggle="tab" >
                    <span class="fa" data-i18n="[html]ovs:icons.information"></span>
                    <span style="padding-left: 5px;" data-bind="text: name, visible: name() !== undefined"></span>
                </a>
            </li>
            <li class="actions">
                <span data-i18n="ovs:generic.actions"></span>:
                <button type="button" class="btn btn-mini btn-default"
                        id="buttonVpoolSync"
                        data-bind="click: function() { $root.sync(); },
                                   style: { color: '#428bca' },
                                   tooltip: 'ovs:vpools.detail.sync',
                                   enable: $root.shared.user.roles().contains('write')">
                    <span class="fa" data-i18n="[html]ovs:icons.sync"></span>
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="information" style="padding: 15px;">
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th data-i18n="ovs:vpools.statistics" colspan="2"></th>
                            <th data-i18n="ovs:vpools.backend" colspan="2"></th>
                            <th data-i18n="ovs:vpools.configuration" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 12%;" data-i18n="ovs:generic.storeddata"></td>
                            <td style="width: 20%;"><span data-bind="text: storedData"></span></td>
                            <td style="width: 12%;" data-i18n="ovs:vpools.backendtype"></td>
                            <td style="width: 29%;">
                                <span data-bind="lazyloader: { item: backendType, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry" data-bind="translate: 'ovs:generic.backendtypes.' + item().code()"></span>
                                </span>
                            </td>
                            <td style="width: 12%;" data-i18n="ovs:vpools.cache_strategy"></td>
                            <td style="width: 15%;">
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry" data-bind="translate: 'ovs:storagedrivers.configuration.general.cache_strategies.' + item().cache_strategy"></span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.cache"></td>
                            <td><span data-bind="text: cacheRatio"></span></td>
                            <td data-i18n="ovs:vpools.backendconnection"></td>
                            <td><span data-bind="text: backendConnection() ? backendConnection() : '-'"></span></td>
                            <td data-i18n="ovs:vpools.dedupe_mode"></td>
                            <td>
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry" data-bind="translate: 'ovs:storagedrivers.configuration.general.dedupe_modes.' + item().dedupe_mode"></span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.iops"></td>
                            <td><span data-bind="text: iops"></span></td>
                            <td data-i18n="ovs:vpools.backendlogin"></td>
                            <td><span data-bind="text: backendLogin() ? backendLogin() : '-'"></span></td>
                            <td data-i18n="ovs:vpools.sco_size"></td>
                            <td>
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry">
                                        <span data-bind="text: item().sco_size"></span>
                                        <span data-i18n="ovs:generic.units.mib"></span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.readspeed"></td>
                            <td><span data-bind="text: readSpeed"></span></td>
                            <td data-i18n="ovs:generic.readspeed"></td>
                            <td><span data-bind="text: backendReadSpeed"></span></td>
                            <td data-i18n="ovs:vpools.write_buffer"></td>
                            <td>
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry">
                                        <span data-bind="text: item().write_buffer"></span>
                                        <span data-i18n="ovs:generic.units.mib"></span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.writespeed"></td>
                            <td><span data-bind="text: writeSpeed"></span></td>
                            <td data-i18n="ovs:generic.writespeed"></td>
                            <td><span data-bind="text: backendWriteSpeed"></span></td>
                            <td>
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry">
                                        <span data-bind="translate: 'ovs:vpools.' + (item().dtl_enabled === true ? 'dtl_mode' : 'dtl')"></span>
                                        <a data-bind="tooltip: 'ovs:storagedrivers.configuration.general.dtl_help_title',
                                                      visible: item().dtl_enabled !== true"
                                           class="hand fa noline"
                                           data-i18n="[html]ovs:icons.help"
                                           style="margin-left: 5px; color: blue;">
                                        </a>
                                    </span>
                                </span>
                            </td>
                            <td>
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry" data-bind="text: $.t('ovs:storagedrivers.configuration.general.dtl_modes.' + item().dtl_mode)"></span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.nrofvmachines"></td>
                            <td><span data-bind="text: vMachines().length"></span></td>
                            <td colspan="2">&nbsp;</td>
                            <td>
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry"
                                          data-i18n="ovs:vpools.dtl_transport"
                                          data-bind="visible: item().dtl_enabled === true"></span>
                                </span>
                            </td>
                            <td>
                                <span data-bind="lazyloader: { item: configuration, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <span data-part="lazy-entry"
                                          data-bind="visible: item().dtl_enabled === true,
                                                     translate: 'ovs:storagedrivers.configuration.general.dtl_transport_modes.' + item().dtl_transport"></span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td data-i18n="ovs:generic.nrofvdisks"></td>
                            <td><span data-bind="text: vDisks().length"></span></td>
                            <td colspan="4">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs">
            <li class="active" data-bind="tooltip: 'ovs:generic.vmachines'">
                <a href="#vmachines" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.vmachines"></a>
            </li>
            <li data-bind="tooltip: 'ovs:generic.vdisks'">
                <a href="#vdisks" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.vdisks"></a>
            </li>
            <li data-bind="tooltip: 'ovs:generic.management', visible: $root.shared.user.roles().contains('manage')">
                <a href="#management" data-toggle="tab" class="fa" data-i18n="[html]ovs:icons.management"></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="vmachines" style="padding: 15px;">
                <h4 data-i18n="ovs:vmachines.title"></h4>
                <div data-bind="pager: { loadData: $parent.loadVMachines, headers: $parent.vMachineHeaders, refreshInterval: 5000, controls: true }">
                    <table data-dummy="dummy">
                        <tr data-part="vitem" data-bind="attr: { id: 'vmachine_' + guid() }">
                            <td style="position: relative;">
                                <span data-bind="visible: loading()" style="position: absolute; top: 7px; left: -15px;">
                                   <i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i>
                                </span>
                                <a data-bind="html: loaded() ? (name() ? name() : '<i>name not set</i>') : '',
                                              attr: { href: $root.shared.routing.loadHash('vmachine-detail', { guid: guid }) }"></a>
                            </td>
                            <td data-bind="lazylist: { items: storageRouters, loadedObservable: 'loaded' }">
                                <a data-part="entry"
                                   data-bind="text: name,
                                              attr: { href: $root.shared.routing.loadHash('storagerouter-detail', { guid: guid }) }"></a>
                            </td>
                            <td><span data-bind="text: vDisks().length"></span></td>
                            <td><span data-bind="text: storedData"></span></td>
                            <td><span data-bind="text: cacheRatio"></span></td>
                            <td><span data-bind="text: iops"></span></td>
                            <td><span data-bind="text: readSpeed"></span></td>
                            <td><span data-bind="text: writeSpeed"></span></td>
                            <td>
                                <div data-bind="status: {
                                                    colors: {
                                                        green: ['ok_standalone', 'ok_sync'].contains(dtlStatus()),
                                                        orange: dtlStatus() == 'catch_up',
                                                        red: dtlStatus() == 'degraded'
                                                    },
                                                    defaultColor: 'lightgrey'
                                                }, tooltip: 'ovs:generic.states.dtl.' + dtlStatus()"
                                     style="width: 14px; height: 14px;"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="vdisks" style="padding: 15px;">
                <h4 data-i18n="ovs:vdisks.title"></h4>
                <div data-bind="pager: { loadData: $parent.loadVDisks, headers: $parent.vDiskHeaders, refreshInterval: 5000, controls: true }">
                    <table data-dummy="dummy">
                        <tr data-part="vitem" data-bind="attr: { id: 'vdisk_' + guid() }">
                            <td style="position: relative;">
                                <span data-bind="visible: loading()" style="position: absolute; top: 7px; left: -15px;">
                                   <i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i>
                                </span>
                                <a data-bind="html: loaded() ? (name() ? name() : '<i>name not set</i>') : '',
                                              attr: { href: $root.shared.routing.loadHash('vdisk-detail', { guid: guid }) }"></a>
                            </td>
                            <td>
                                <span data-bind="lazyloader: { item: vMachine, loadedObservable: 'loaded', undefinedLoading: false }">
                                    <a data-part="lazy-entry"
                                       data-bind="text: item().name,
                                                  attr: { href: $root.shared.routing.loadHash('vmachine-detail', { guid: item().guid }) }"></a>
                                </span>
                            </td>
                            <td><span data-bind="text: size"></span></td>
                            <td><span data-bind="text: storedData"></span></td>
                            <td><span data-bind="text: cacheRatio"></span></td>
                            <td><span data-bind="text: iops"></span></td>
                            <td><span data-bind="text: readSpeed"></span></td>
                            <td><span data-bind="text: writeSpeed"></span></td>
                            <td>
                                <div data-bind="status: {
                                                    colors: {
                                                        green: ['ok_standalone', 'ok_sync'].contains(dtlStatus()),
                                                        orange: dtlStatus() == 'catch_up',
                                                        red: dtlStatus() == 'degraded'
                                                    },
                                                    defaultColor: 'lightgrey'
                                                }, tooltip: 'ovs:generic.states.dtl.' + dtlStatus()"
                                     style="width: 14px; height: 14px;"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="management" style="padding: 15px;" data-bind="visible: $root.shared.user.roles().contains('manage')">
                <table class="table table-noborder" style="width: 100%;">
                    <tbody>
                        <tr>
                             <td style="width: 90px; vertical-align: middle; padding: 0 0 20px 0;">
                                <button id="btn.vpool.management" type="button" class="btn btn-lg" data-bind="enable: false">
                                    <span class="fa fa-1p5x" data-i18n="[html]ovs:icons.storageroutervpoollink"></span>
                                </button>
                            </td>
                            <td style="padding: 0 0 20px 0;">
                                <h4 data-i18n="ovs:vpools.detail.storageroutervpoollink"></h4>
                                <table class="table table-noborder table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th><span data-i18n="ovs:generic.storagerouter"></span></th>
                                            <th style="width: 70px;"><span data-i18n="ovs:generic.actions"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko foreach: $root.storageRouters() -->
                                            <tr>
                                                <td><span data-bind="text: name"></span></td>
                                                <!-- ko if: !$root.checkedStorageRouterGuids().contains(guid()) -->
                                                <td>
                                                    <button type="button"
                                                        class="btn btn-mini btn-default"
                                                        data-bind="click: $root.addStorageRouter,
                                                                   enable: !$root.vPool().rdmaEnabled() || ($root.vPool().rdmaEnabled() && rdmaCapable),
                                                                   attr: { id: 'button_add_' + guid()},
                                                                   visible: $root.updatingStorageRouters() === false">
                                                        <span class="fa" data-i18n="[html]ovs:icons.add"></span>
                                                    </button>
                                                </td>
                                                <!-- /ko -->
                                                <!-- ko if: $root.checkedStorageRouterGuids().contains(guid()) -->
                                                <td>
                                                    <button type="button"
                                                            class="btn btn-mini btn-default"
                                                            data-bind="click: $root.removeStorageRouter,
                                                                       attr: { id: 'button_remove_' + guid()},
                                                                       visible: $root.updatingStorageRouters() === false ">
                                                        <span class="fa" data-i18n="[html]ovs:icons.delete"></span>
                                                    </button>
                                                    <span class="fa-stack">
                                                        <i data-bind="click: function() { $root.reconfigurePmachine(guid(), true); },
                                                                      tooltip: (pMachine() !== undefined && pMachine().isVPoolConfigured()[$root.vPool().guid()]) ? '' : 'ovs:wizards.linkhosts.gather.configure',
                                                                      visible: $root.updatingStorageRouters() === false &&
                                                                               pMachine() !== undefined &&
                                                                               !(pMachine().mgmtCenterGuid() === undefined || pMachine().mgmtCenterGuid() === null)"
                                                           class="hand fa fa-fw fa-stack-1x" data-i18n="[html]ovs:icons.cog">
                                                        </i>
                                                        <i data-bind="click: function() { $root.reconfigurePmachine(guid(), false); },
                                                                      tooltip: 'ovs:wizards.linkhosts.gather.unconfigure',
                                                                      style: { color: 'red' },
                                                                      visible: $root.updatingStorageRouters() === false &&
                                                                               pMachine() !== undefined &&
                                                                               !(pMachine().mgmtCenterGuid() === undefined || pMachine().mgmtCenterGuid() === null) &&
                                                                               pMachine().isVPoolConfigured()[$root.vPool().guid()]"
                                                           class="hand fa fa-fw fa-stack-1px6" data-i18n="[html]ovs:icons.ban">
                                                        </i>
                                                    </span>
                                                </td>
                                                <!-- /ko -->
                                            </tr>
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                                <div data-bind="visible: backendType() === 'local'" class="alert alert-warning"
                                     data-i18n="ovs:vpools.detail.localvpool" style="margin-top: 10px;"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
