/*
 * Copyright 2014 iNuron NV
 *
 * Licensed under the Open vStorage Modified Apache License (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.openvstorage.org/license
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

* {
    margin: 0;
}

:not(a):not(.disabled):not(.hand) {
    cursor: default;
}
button * {
    cursor: pointer;
}

html, body {
    font-family: "Monda", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    height: 100%;
}
.stretch {
    height: 100%;
}
div[data-view]:not(.modal-dialog) {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 60px;
    margin-top: -60px;
    padding-left: 15px;
    padding-right: 15px;
}

.page-host {
    position: static !important;  /* Negate default durandal css */
    top: auto !important;         /* Negate default durandal css */
    padding-top: 70px;
    padding-bottom: 60px;
}

.hand {
    cursor: pointer;
}
.forbidden {
    cursor: no-drop;
}
.pointer {
    cursor: default;
}
.zoom-in {
    cursor: zoom-in;
}
.zoom-out {
    cursor: zoom-out;
}

.quote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
}

.popover {
    max-width: 600px !important;
    width: auto !important;
}

.fa-1p5x {
    font-size: 1.5em;
}

.fa-stack-1px6 {
    font-size: 1.6em;
    padding-top: 3px;
}

.table-noborder td {
    border: 0 !important;
}

.nav .actions {
    margin-top: 9px;
    margin-left: 20px;
    width: 300px;
}

.btn-mini {
    padding: 2px 6px 2px 6px !important;
}

.edit-container:hover .edit-button {
    display: inline !important;
}

.input-gradient {
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(54%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

/* General changes to the default OVS theme */

h2 {
    color: #08314e !important;
}
.table > thead > tr > th {
    color: #08314e !important;
}

a:hover, a:focus {
    color: #08314e;
    text-decoration: underline;
}
a {
    color: #377ca8;
}

.panel-heading {
    color: #ffffff !important;
    background-color: #377ca8 !important;
    border-color: #377ca8 !important;
    background: url('/lib/ovs/images/noise.png');
}
.panel-default {
    border-color: #377ca8 !important;
}

.navbar-default {
    background-color: #377ca8 !important;
    border-color: #3a94c3 !important;
    background-image: -moz-linear-gradient(top, #377ca8, #2a6082);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#377ca8), to(#2a6082));
    background-image: -webkit-linear-gradient(top, #377ca8, #2a6082);
    background-image: -o-linear-gradient(top, #377ca8, #2a6082);
    background-image: linear-gradient(to bottom, #377ca8, #2a6082);
}
.navbar-default > .noise {
    background: url('/lib/ovs/images/noise.png');
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff !important;
    background-color: #377ca8 !important;
    border-color: #377ca8 !important;
    background-image: url('/lib/ovs/images/noise.png');
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff !important;
    background-color: #377ca8 !important;
    border-color: #377ca8 !important;
    background-image: url('/lib/ovs/images/noise.png');
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #377ca8 !important;
    border-color: #377ca8 !important;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.8) !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff !important;
}
.navbar-default .navbar-brand {
    color: #ffffff !important;
}

.label-default {
    color: #08314e !important;
    background-color: #ffffff !important;
}

.popover, select {
    color: #333333 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #377ca8 !important;
}

.noline {
    text-decoration: none !important;
}

code {
    color: #555 !important;
    background-color: #eee !important;
}
