<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div>
    <form id="form.gather.mgmtcenter" role="form form-horizontal" class="form-horizontal">
        <div data-bind="visible: data.mgmtcenterLoaded()">
            <div data-bind="visible: !data.hasMgmtCenter()" style="margin-top: 5px;">
                <p>
                    <span data-bind="text: data.target().name()"></span>
                    <span data-i18n="ovs:wizards.addvpool.integratemgmtcenter.nomgmtcenter"></span>
                </p>
            </div>
            <div data-bind="visible: data.hasMgmtCenter()" style="margin-top: 5px;">
                <p>
                    <span data-bind="text: data.target().name()"></span>
                    <span data-i18n="ovs:wizards.addvpool.integratemgmtcenter.mgmtcenter"></span>
                    <span data-bind="text: data.mgmtcenterName"></span>
                    (<span data-bind="text: data.mgmtcenterIp"></span>)
                </p>
            </div>
            <div class="form-group">
                <div class="col-lg-10">
                    <input type="checkbox" id="integratemgmt" style="margin-top: 9px; margin-left: 15px;"
                           data-bind="checked: data.integratemgmt, enable: data.hasMgmtCenter()">
                    <label for="integratemgmt" class="help-block" data-i18n="ovs:wizards.addvpool.integratemgmtcenter.integratemgmt"
                           style="padding-left: 10px; display: inline-block; color: inherit; font-weight: normal;"></label>
                </div>
            </div>
        </div>
        <div data-bind="visible: !data.mgmtcenterLoaded()" class="alert alert-info" style="margin-top: 20px;">
            <span class="fa fa-spin" style="margin-right: 10px;" data-i18n="[html]ovs:icons.loading"></span>
            <span data-i18n="ovs:wizards.addvpool.integratemgmtcenter.loading"></span>
        </div>
    </form>
    <div class="alert alert-danger" data-bind="visible: !canContinue().value && canContinue().showErrors" style="margin-bottom: -10px;">
        <p data-bind="visible: canContinue().reasons.length === 0"><span data-i18n="ovs:generic.errorsfound"></span></p>
        <p data-bind="visible: canContinue().reasons.length > 0"><span
                data-i18n="ovs:generic.followingerrorsfound"></span></p>
        <ul data-bind="visible: canContinue().reasons.length > 0, foreach: canContinue().reasons">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
</div>
