<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div>
    <form id="form.gather.vpool" role="form form-horizontal" class="form-horizontal">
        <p data-i18n="ovs:wizards.addvpool.gatherconfig.basicinfo"></p>
        <ul>
            <li>
                <span data-i18n="ovs:storagedrivers.configuration.general.dtl"></span>:
                <a data-bind="popover: {
                                  title: 'ovs:storagedrivers.configuration.general.dtl_help_title',
                                  content: 'ovs:storagedrivers.configuration.general.dtl_help_message'
                              }"
                   class="hand fa noline"
                   data-i18n="[html]ovs:icons.help"
                   style="margin-left: 5px; color: #377ca8;"
                   role="button"
                   tabindex="-1">
                </a>
                <div>
                    <table class="table table-condensed" style="margin-left: 20px; margin-bottom: 0; width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 40%; padding: 0; border: 0">
                                    <div style="margin-top: 5px;">
                                        <span data-i18n="ovs:storagedrivers.configuration.general.dtl_mode"></span>:
                                    </div>
                                </td>
                                <td style="padding: 0; border: 0">
                                    <span data-bind="dropdown: {
                                                         items: data.dtlModes,
                                                         target: dtlMode,
                                                         text: function(item) {
                                                             return $.t('ovs:storagedrivers.configuration.general.dtl_modes.' + item.name);
                                                         },
                                                         small: true
                                                     }">
                                    </span>
                                </td>
                            </tr>
                            <tr data-bind="visible: data.dtlEnabled()">
                                <td style="width: 40%; padding: 0; border: 0">
                                    <div style="margin-top: 5px;">
                                        <span data-i18n="ovs:storagedrivers.configuration.general.dtl_transport"></span>:
                                    </div>
                                </td>
                                <td style="padding: 0; border: 0">
                                    <span data-bind="dropdown: {
                                                         items: data.dtlTransportModes,
                                                         target: data.dtlTransportMode,
                                                         text: function(item) {
                                                             return $.t('ovs:storagedrivers.configuration.general.dtl_transport_modes.' + item.name);
                                                         },
                                                         small: true
                                                     }">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <span data-i18n="ovs:storagedrivers.configuration.general.caching"></span>:
                <div>
                    <table class="table table-condensed" style="margin-left: 20px; margin-bottom: 0; width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 40%; padding: 0; border: 0;">
                                    <div style="margin-top: 5px;">
                                        <span data-i18n="ovs:storagedrivers.configuration.general.strategy"></span>:
                                    </div>
                                </td>
                                <td style="padding: 0; border: 0;">
                                    <span data-bind="dropdown: {
                                                         items: data.cacheStrategies,
                                                         target: data.cacheStrategy,
                                                         text: function(item) {
                                                             return $.t('ovs:storagedrivers.configuration.general.cache_strategies.' + item);
                                                         },
                                                         small: true
                                                     }">
                                    </span>
                                </td>
                            </tr>
                            <tr >
                                <td style="width: 40%; padding: 0; border: 0;">
                                    <div style="margin-top: 5px;">
                                        <span data-i18n="ovs:storagedrivers.configuration.general.dedupe"></span>:
                                        <a data-bind="popover: {
                                                          title: 'ovs:storagedrivers.configuration.general.dedupe_help_title',
                                                          content: 'ovs:storagedrivers.configuration.general.dedupe_help_message'
                                                      }"
                                           class="hand fa noline"
                                           data-i18n="[html]ovs:icons.help"
                                           style="margin-left: 5px; color: #377ca8;"
                                           role="button"
                                           tabindex="-1">
                                        </a>
                                        <span class="help-block"
                                              data-i18n="ovs:storagedrivers.configuration.general.dedupe_warning"
                                              style="font-size: smaller; margin-top: -4px; width: 165px;">
                                        </span>
                                    </div>
                                </td>
                                <td style="padding: 0; border: 0;">
                                    <span data-bind="dropdown: {
                                                         items: data.dedupeModes,
                                                         target: data.dedupeMode,
                                                         text: function(item) {
                                                             return $.t('ovs:storagedrivers.configuration.general.dedupe_modes.' + item);
                                                         },
                                                         small: true
                                                     }">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <span data-i18n="ovs:storagedrivers.configuration.general.volume"></span>:
                <div>
                    <table class="table table-condensed" style="margin-left: 20px; margin-bottom: 0; width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 40%; padding: 0; border: 0;">
                                    <div style="margin-top: 5px;">
                                        <span data-i18n="ovs:storagedrivers.configuration.general.sco_size"></span>:
                                    </div>
                                </td>
                                <td style="padding: 0; border: 0;">
                                    <span data-bind="dropdown: {
                                                         items: data.scoSizes,
                                                         target: data.scoSize,
                                                         text: function(item) {
                                                             if (item === undefined || item === null) {
                                                                 return '-';
                                                             }
                                                             return item + ' ' + $.t('ovs:generic.units.mib');
                                                         },
                                                         small: true
                                                     }">
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 40%; padding: 0; border: 0;">
                                    <div style="margin-top: 5px;">
                                        <span data-i18n="ovs:storagedrivers.configuration.general.write_buffer"></span>:
                                    </div>
                                </td>
                                <td style="padding: 0; border: 0;">
                                    <input data-bind="value: data.writeBuffer"
                                           id="writeBuffer"
                                           size="5"
                                           style="height: 25px; text-align: center;"/>
                                    <span data-bind="translate: 'ovs:generic.units.mib'"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </form>
    <div class="alert alert-danger" data-bind="visible: !canContinue().value || canContinue().showErrors" style="margin-bottom: -10px;">
        <p data-bind="visible: canContinue().reasons.length === 0"><span data-i18n="ovs:generic.errorsfound"></span></p>
        <p data-bind="visible: canContinue().reasons.length > 0"><span data-i18n="ovs:generic.followingerrorsfound"></span></p>
        <ul data-bind="visible: canContinue().reasons.length > 0, foreach: canContinue().reasons">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
</div>
