<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div>
    <form role="form form-horizontal" class="form-horizontal">
        <p data-i18n="ovs:wizards.addvpool.gathermountpoints.basicinfo"></p>
        <div class="form-group" style="padding-left: 40px;" data-bind="visible: data.backend() === 'distributed'">
            <label class="col-lg-2 control-label" data-i18n="ovs:wizards.addvpool.gathermountpoints.mountpoint">
                   style="text-align: left; padding-right: 0;"></label>
            <div class="col-lg-6">
                <span data-bind="dropdown: { items: data.mountpoints, target: data.distributedMtpt }"></span>
            </div>
        </div>
        <div class="form-group" style="padding-left: 40px;" data-bind="css: { 'has-error': canContinue().fields.contains('readCacheSize') }">
            <label class="col-lg-2 control-label" data-i18n="ovs:wizards.addvpool.gathermountpoints.readcache_size"
                   style="text-align: left; padding-right: 0;"></label>
            <div class="col-lg-2">
                <input type="text" id="readCacheSize" class="form-control" data-bind="value: data.readCacheSize, valueUpdate: 'afterkeydown'" />
            </div>
            <div class="col-lg-6" style="padding: 0; margin-top: 8px;">
                <span data-i18n="ovs:generic.units.gib"></span>
            </div>
        </div>
        <div class="form-group" style="padding-left: 40px;" data-bind="css: { 'has-error': canContinue().fields.contains('writeCacheSize') }">
            <label class="col-lg-2 control-label" data-i18n="ovs:wizards.addvpool.gathermountpoints.writecache_size"
                   style="text-align: left; padding-right: 0;"></label>
            <div class="col-lg-2">
                <input type="text" id="writeCacheSize" class="form-control" data-bind="value: data.writeCacheSize, valueUpdate: 'afterkeydown'" />
            </div>
            <div class="col-lg-6" style="padding: 0; margin-top: 8px;">
                <span data-i18n="ovs:generic.units.gib"></span>
            </div>
        </div>
        <div class="form-group" style="padding-left: 40px;">
            <label class="col-lg-2 control-label" data-i18n="ovs:wizards.addvpool.gathermountpoints.ipaddress" style="text-align: left; padding-right: 0;"></label>
            <div class="col-lg-4">
                <span data-bind="dropdown: {
                                     items: data.ipAddresses,
                                     target: data.storageIP,
                                     emptyisloading: false
                                 }"></span>
            </div>
        </div>
    </form>
    <div class="alert alert-info"
         data-bind="visible: (data.readCacheAvailableSize() !== undefined && data.readCacheAvailableSize() > 0) ||
                             (data.writeCacheAvailableSize() !== undefined && data.writeCacheAvailableSize() > 0) ||
                             (data.sharedSize() !== undefined && data.sharedSize() > 0)">
        <span data-i18n="ovs:wizards.addvpool.gathermountpoints.information"></span>
        <ul>
            <li data-bind="visible: data.readCacheAvailableSize() !== undefined && data.readCacheAvailableSize() > 0">
                <span data-i18n="ovs:wizards.addvpool.gathermountpoints.readcache_size"></span>
                <span data-bind="text: Math.floor(data.readCacheAvailableSize() / 1024 / 1024 / 1024)"></span>
                <span data-i18n="ovs:generic.units.gib"></span>
            </li>
            <li data-bind="visible: data.writeCacheAvailableSize() !== undefined && data.writeCacheAvailableSize() > 0">
                <span data-i18n="ovs:wizards.addvpool.gathermountpoints.writecache_size"></span>
                <span data-bind="text: Math.floor(data.writeCacheAvailableSize() / 1024 / 1024 / 1024)"></span>
                <span data-i18n="ovs:generic.units.gib"></span>
            </li>
            <li data-bind="visible: data.sharedSize() !== undefined && data.sharedSize() > 0">
                <span data-i18n="ovs:wizards.addvpool.gathermountpoints.shared_available"></span>
                <span data-bind="text: Math.floor(data.sharedSize() / 1024 / 1024 / 1024)"></span>
                <span data-i18n="ovs:generic.units.gib"></span>
            </li>
        </ul>
    </div>
    <div class="alert alert-danger" data-bind="visible: canContinue().value === false" style="margin-bottom: -10px;">
        <p data-bind="visible: canContinue().reasons.length === 0"><span data-i18n="ovs:generic.errorsfound"></span></p>
        <p data-bind="visible: canContinue().reasons.length > 0"><span data-i18n="ovs:generic.followingerrorsfound"></span></p>
        <ul data-bind="visible: canContinue().reasons.length > 0, foreach: canContinue().reasons">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
</div>
