<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div>
    <form id="form.gather.vpool" role="form form-horizontal" class="form-horizontal">
        <p data-i18n="ovs:wizards.addvpool.gathervpool.basicinfo"></p>
        <div class="form-group" data-bind="css: { 'has-error': canContinue().fields.contains('name') }">
            <label class="col-lg-3 control-label" for="inputVpoolName" data-i18n="ovs:wizards.addvpool.gathervpool.name"></label>
            <div class="col-lg-7">
                <input type="text" id="inputVpoolName" class="autofocus form-control" data-bind="value: data.name, valueUpdate: 'input'" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label" data-i18n="ovs:wizards.addvpool.gathervpool.backendtype"></label>
            <div class="col-lg-7">
                <span data-bind="dropdown: {
                                     items: data.backends, target: data.backend,
                                     text: function(item) {
                                         return $.t('ovs:generic.backendtypes.' + item);
                                     }
                                 }">
                </span>
            </div>
        </div>
        <div data-bind="visible: data.backend() === 'alba'">
            <div class="form-group" data-bind="css: { 'has-error': canContinue().fields.contains('clientid') }">
                <div class="col-lg-3"></div>
                <div class="col-lg-7">
                    <input type="checkbox" id="inputVpoolLocalHost" class="autofocus" data-bind="checked: data.localHost" />
                    <label for="inputVpoolLocalHost" data-i18n="ovs:wizards.addvpool.gathervpool.localhost" style="font-weight: normal;"></label>
                </div>
            </div>
        </div>
        <div data-bind="visible: data.backend() !== 'local' && data.backend() !== 'distributed' && (data.backend() !== 'alba' || !data.localHost())">
            <div class="form-group" data-bind="css: { 'has-error': canContinue().fields.contains('host') }">
                <label class="col-lg-3 control-label" for="inputVpoolHost" data-i18n="ovs:wizards.addvpool.gathervpool.host"></label>
                <div class="col-lg-4">
                    <input type="text" id="inputVpoolHost" class="autofocus form-control" data-bind="value: data.host, valueUpdate: 'input'" />
                </div>
                <label class="col-lg-1 control-label" for="inputVpoolPort" data-i18n="ovs:wizards.addvpool.gathervpool.port"></label>
                <div class="col-lg-2">
                    <input type="text" id="inputVpoolPort" class="autofocus form-control" data-bind="value: data.port" />
                </div>
            </div>
        </div>
        <div data-bind="visible: data.backend().match(/^.+_s3$/) !== null">
            <div class="form-group" data-bind="css: { 'has-error': canContinue().fields.contains('accesskey') }">
                <label class="col-lg-3 control-label" for="inputVpoolAccessKey" data-i18n="ovs:wizards.addvpool.gathervpool.accesskey"></label>
                <div class="col-lg-7">
                    <input type="text" id="inputVpoolAccessKey" class="autofocus form-control" data-bind="value: data.accesskey, valueUpdate: 'input'" />
                </div>
            </div>
            <div class="form-group" data-bind="css: { 'has-error': canContinue().fields.contains('secretkey') }">
                <label class="col-lg-3 control-label" for="inputVpoolSecretKey" data-i18n="ovs:wizards.addvpool.gathervpool.secretkey"></label>
                <div class="col-lg-7">
                    <input type="password" id="inputVpoolSecretKey" class="autofocus form-control" data-bind="value: data.secretkey, valueUpdate: 'input'" />
                </div>
            </div>
        </div>
        <div data-bind="visible: data.backend() === 'alba'">
            <div data-bind="visible: !data.localHost()">
                <div class="form-group" data-bind="css: { 'has-error': canContinue().fields.contains('clientid') }">
                    <label class="col-lg-3 control-label" for="inputVpoolClientId" data-i18n="ovs:wizards.addvpool.gathervpool.clientid"></label>
                    <div class="col-lg-7">
                        <input type="text" id="inputVpoolClientId" class="autofocus form-control" data-bind="value: data.accesskey, valueUpdate: 'input'" />
                    </div>
                </div>
                <div class="form-group" data-bind="css: { 'has-error': canContinue().fields.contains('clientsecret') }">
                    <label class="col-lg-3 control-label" for="inputVpoolClientSecret" data-i18n="ovs:wizards.addvpool.gathervpool.clientsecret"></label>
                    <div class="col-lg-7">
                        <input type="password" id="inputVpoolClientSecret" class="autofocus form-control" data-bind="value: data.secretkey, valueUpdate: 'input'">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label" data-i18n="ovs:wizards.addvpool.gathervpool.albabackend"></label>
                <div class="col-lg-7">
                    <!-- ko if: data.albaBackends() === undefined || data.albaBackends().length === 0 -->
                        <i data-i18n="[html]ovs:wizards.addvpool.gathervpool.nobackends"
                           style="display: inline-block; margin-top: 7px;"></i>
                    <!-- /ko -->
                    <!-- ko if: data.albaBackends() !== undefined && data.albaBackends().length > 0 -->
                        <span data-bind="dropdown: {
                                             key: 'guid', keyisfunction: false,
                                             items: data.albaBackends, target: data.albaBackend,
                                             text: function(item) {
                                                 if (item !== undefined) {
                                                     return item.name;
                                                 }
                                             }
                                         }">
                        </span>
                    <!-- /ko -->
                    <button class="btn btn-default"  style="margin-left: 10px;"
                            data-bind="click: loadAlbaBackends, style: {
                                           'margin-top': (data.albaBackends() !== undefined && data.albaBackends().length > 0 ? '-26px' : '')
                                       }, enable: !albaBackendLoading()">
                        <span class="fa fa-" data-bind="css: { 'fa-spin': albaBackendLoading() }" data-i18n="[html]ovs:icons.load"></span>
                        <span style="padding-left: 8px;" data-i18n="ovs:generic.reload"></span>
                    </button>
                </div>
            </div>
            <div class="form-group" data-bind="if: data.albaBackend() !== undefined">
                <label class="col-lg-3 control-label" data-i18n="ovs:wizards.addvpool.gathervpool.albapreset"></label>
                <div class="col-lg-7">
                    <span data-bind="dropdown: {
                                         key: 'name', keyisfunction: false,
                                         items: data.albaBackend().presetNames, target: data.albaPreset,
                                         text: function(item) {
                                             var text = item.name + ': ' + item.policies.join(', ');
                                             return text;
                                         }
                                     }"></span>
                </div>
            </div>
        </div>
        <p data-i18n="ovs:wizards.addvpool.gathervpool.extendedinfo"></p>
        <div class="form-group">
            <label class="col-lg-3 control-label" data-i18n="ovs:wizards.addvpool.gathervpool.initialstoragerouter"></label>
            <div class="col-lg-7">
                <span data-bind="dropdown: {
                                     key: 'guid',
                                     keyisfunction: true,
                                     items: data.storageRouters,
                                     target: data.target,
                                     text: function(item) {
                                         if (item !== undefined) {
                                             return item.name()
                                         }
                                     }
                                 }">
                </span>
            </div>
        </div>
    </form>
    <div class="alert alert-danger" data-bind="visible: !canContinue().value || canContinue().showErrors" style="margin-bottom: -10px;">
        <p data-bind="visible: canContinue().reasons.length === 0"><span data-i18n="ovs:generic.errorsfound"></span></p>
        <p data-bind="visible: canContinue().reasons.length > 0"><span data-i18n="ovs:generic.followingerrorsfound"></span></p>
        <ul data-bind="visible: canContinue().reasons.length > 0, foreach: canContinue().reasons">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
</div>
