<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<div>
    <form data-bind="visible: canStart().value" role="form form-horizontal" class="form-horizontal">
        <p data-i18n="ovs:wizards.createft.gather.basicinfo"></p>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="name" data-i18n="ovs:wizards.createft.gather.name"></label>
            <div class="col-lg-8">
                <input type="text" id="name" class="autofocus form-control" data-bind="value: data.name, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="description" data-i18n="ovs:wizards.createft.gather.description"></label>
            <div class="col-lg-8">
                <input type="text" id="description" class="autofocus form-control" data-bind="value: data.description, valueUpdate: 'afterkeydown'">
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0;">
            <label class="col-lg-2 control-label" for="amount" data-i18n="ovs:wizards.createft.gather.amount"></label>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="click: function() { data.amount(Math.max(1, parseInt('0' + data.amount(), 10) - 1)); }">
                            <span class="fa fa-minus"></span>
                        </button>
                    </span>
                    <input type="text" id="amount" class="form-control" data-bind="value: data.amount">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="click: function() { data.amount(parseInt('0' + data.amount(), 10) + 1); }">
                            <span class="fa fa-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
            <label class="col-lg-2 control-label" for="startnr" data-i18n="ovs:wizards.createft.gather.startnr"></label>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="disable: data.amount() === 1, click: function() { data.startnr(Math.max(1, parseInt('0' + data.startnr(), 10) - 1)); }">
                            <span class="fa fa-minus"></span>
                        </button>
                    </span>
                    <input type="text" id="startnr" class="form-control" data-bind="disable: data.amount() === 1, value: data.startnr, valueUpdate: 'afterkeydown'">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-bind="disable: data.amount() === 1, click: function() { data.startnr(parseInt('0' + data.startnr(), 10) + 1); }">
                            <span class="fa fa-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label"></label>
            <div class="col-lg-8"><p class="help-block" data-bind="text: namehelp"></p></div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="snapshot" data-i18n="ovs:wizards.createft.gather.hosts"></label>
            <div class="col-lg-8">
                <span data-bind="dropdown: {
                                     key: 'guid', keyisfunction: true,
                                     items: data.pMachines, target: data.selectedPMachines,
                                     text: function(item) {
                                         return item.name();
                                     }
                                 }">
                </span>
            </div>
        </div>
    </form>
    <div class="alert alert-danger" data-bind="visible: canStart().value && !canContinue().value" style="margin-bottom: -10px;">
        <p data-bind="visible: canContinue().reasons.length === 0"><span data-i18n="ovs:generic.errorsfound"></span></p>
        <p data-bind="visible: canContinue().reasons.length > 0"><span data-i18n="ovs:generic.followingerrorsfound"></span></p>
        <ul data-bind="visible: canContinue().reasons.length > 0, foreach: canContinue().reasons">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
    <div class="alert alert-danger" data-bind="visible: !canStart().value" style="margin-bottom: -10px;">
        <p data-bind="visible: canStart().reasons.length === 0"><span data-i18n="ovs:generic.errorsfound"></span></p>
        <p data-bind="visible: canStart().reasons.length > 0"><span data-i18n="ovs:generic.followingerrorsfound"></span></p>
        <ul data-bind="visible: canStart().reasons.length > 0, foreach: canStart().reasons">
            <li data-bind="text: $data"></li>
        </ul>
    </div>
</div>
