<!--
Copyright 2014 iNuron NV

Licensed under the Open vStorage Modified Apache License (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.openvstorage.org/license

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<section>
    <!-- ko if: displaymode() === 'span' -->
        <!-- // The crappy layout below is required to make sure there are no spaces before the comma, because that's ugly -->
        <span data-bind="foreach: items"><span data-bind="visible: $index() > 0">,</span>
            <span data-bind="visible: !$parent.isLoaded($data)"><i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i></span>
            <span data-bind="visible: $parent.isLoaded($data)"><span data-part="entry" data-bind="text: $data"></span></span></span>
    <!-- /ko -->
    <!-- ko if: displaymode() === 'table' -->
        <table class="table table-striped table-hover" >
            <thead data-part="head"></thead>
            <!-- ko if: items().length === 0 -->
                <tbody>
                    <tr>
                        <td data-bind="attr: { colspan: colspan() }">
                            <i data-i18n="ovs:generic.noentries"></i>
                        </td>
                    </tr>
                </tbody>
            <!-- /ko -->
            <!-- ko if: items().length > 0 -->
                <tbody data-bind="foreach: items">
                    <!-- ko if: !$parent.isLoaded($data) -->
                        <tr>
                            <td data-bind="attr: { colspan: $parent.colspan() }"><i class="fa fa-spin" data-i18n="[html]ovs:icons.loading"></i></td>
                        </tr>
                    <!-- /ko -->
                    <!-- ko if: $parent.isLoaded($data) -->
                        <tr data-part="table-entry">
                            <td data-bind="attr: { colspan: $parent.colspan() }, text: $data"></td>
                        </tr>
                    <!-- /ko -->
                </tbody>
            <!-- /ko -->
        </table>
    <!-- /ko -->
</section>
